<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>
            {% block title %}
            {% endblock title %}
        </title>
    </head>
    <body>
        <header>
            {% if user.is_authenticated %}
                <nav>
                    <ul>
                        <li>
                            <a href="{% url "home" %}">Home</a>
                            <a href="{% url "logout" %}">Logout</a>
                            <a href="{% url 'create_receipt' %}">Create Receipt</a>
                            <a href="{% url "category_list" %}">Categories</a>
                            <a href="{% url "create_category" %}">Create Category</a>
                            <a href="{% url "account_list" %}">Accounts</a>
                            <a href="{% url "create_account" %}">Create Account</a>
                        </li>
                    </ul>
                </nav>
            {% else %}
                <nav>
                    <ul>
                        <li>
                            <a href="{% url 'signup' %}">Sign Up</a>
                        </li>
                        <li>
                            <a href="{% url 'login' %}">Login</a>
                        </li>
                    </ul>
                </nav>
            {% endif %}
        </header>
        {% block content %}
        {% endblock content %}
    </body>
</html>
