{% extends 'base.html' %}

{%block content%}
<main>
    <table>
        <thead>
        <tr>
            <th>Name</th>
            <th>Number</th>
            <th>Number of receipts</th>
        </tr>
    </thead>
    <tbody>
        {%for info in account_amount %}
        <tr>
            <td>{{info.name}}</td>
            <td>{{info.number}}</td>
            <td>{{info.receipts.count}}</td>
        </tr>
        {% endfor %}
    </tbody>
    </table>
</main>
{% endblock %}
