{% extends 'base.html' %}

{%block content%}
<main>
    <table>
        <thead>
        <tr>
            <th>Name</th>
            <th>Number of receipts</th>
        </tr>
    </thead>
    <tbody>
        {% for info in category %}
        <tr>
            <td>{{ info.name }}</td>
            <td>{{ info.receipts.count }}</td>
        </tr>
        {% endfor %}
    </tbody>
    </table>
</main>
{% endblock %}
